@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: 200;
	src: url('fonts/woff/Morabba-UltraLight.woff') format('woff'),   
	url('fonts/woff2/Morabba-UltraLight.woff2') format('woff2'),
	url('fonts/otf/Morabba-UltraLight.otf') format('otf'),	
	url('fonts/ttf/Morabba-UltraLight.ttf') format('ttf'),;	
}

@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/woff/Morabba-Light.woff') format('woff'),   
	url('fonts/woff2/Morabba-Light.woff2') format('woff2'),		 
	url('fonts/otf/Morabba-Light.otf') format('otf'),		 
	url('fonts/ttf/Morabba-Light.ttf') format('ttf');		 
}

@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: 500;
	src: url('fonts/woff/Morabba-Medium.woff') format('woff'),   
	url('fonts/woff2/Morabba-Medium.woff2') format('woff2'),	 
	url('fonts/otf/Morabba-Medium.otf') format('otf'),	 
	url('fonts/ttf/Morabba-Medium.ttf') format('ttf');	 
}

@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: 600;
	src: url('fonts/woff/Morabba-SemiBold.woff') format('woff'),   
	url('fonts/woff2/Morabba-SemiBold.woff2') format('woff2'), 
	url('fonts/otf/Morabba-SemiBold.otf') format('otf'), 
	url('fonts/ttf/Morabba-SemiBold.ttf') format('ttf'); 
}

@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: 800;
	src: url('fonts/woff/Morabba-Extrabold.woff') format('woff'),   
	url('fonts/woff2/Morabba-Extrabold.woff2') format('woff2'), 
	url('fonts/otf/Morabba-Extrabold.otf') format('otf'), 
	url('fonts/ttf/Morabba-Extrabold.ttf') format('ttf'); 
}

@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: 850;
	src: url('fonts/woff/Morabba-Black.woff') format('woff'),   
	url('fonts/woff2/Morabba-Black.woff2') format('woff2'),		 
	url('fonts/otf/Morabba-Black.otf') format('otf'),		 
	url('fonts/ttf/Morabba-Black.ttf') format('ttf');		 
}


@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: 900;
	src: url('fonts/woff/Morabba-Heavy.woff') format('woff'),   
	url('fonts/woff2/Morabba-Heavy.woff2') format('woff2'),	 
	url('fonts/otf/Morabba-Heavy.otf') format('otf'),	 
	url('fonts/ttf/Morabba-Heavy.ttf') format('ttf');	 
}

@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: bold;
	src: url('fonts/woff/Morabba-Bold.woff') format('woff'),   
	url('fonts/woff2/Morabba-Bold.woff2') format('woff2'),	 
	url('fonts/otf/Morabba-Bold.otf') format('otf'),	 
	url('fonts/ttf/Morabba-Bold.ttf') format('ttf');	 
}

@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/woff/Morabba-Regular.woff') format('woff'),   
	url('fonts/woff2/Morabba-Regular.woff2') format('woff2'),	
	url('fonts/otf/Morabba-Regular.otf') format('otf'),	
	url('fonts/ttf/Morabba-Regular.ttf') format('ttf');	
}


